[package]
name = "hector"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8"
tokio = { version = "1", features = ["full"] }

[build-dependencies]
hector-build = { path = "../hector-build" }
